body{
  display: block;
  margin: auto;
  text-align: center;
  background-color: lightgray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img{
  text-align: center;
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

footer{
  position: fixed;
  bottom: 0%;
  background-color: whitesmoke;
  width: 100%;
  border: 2px solid black;
}